In [48]:
import pandas as pd
import numpy as np
dataFrame = pd.read_csv (r'tested.csv')

In [49]:
dataFrame

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

#### **Before** imputing Total **null values (missing Values)**

In [50]:
na = dataFrame.isna( ).sum()
na

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

#### **Removing Cabin Column in Dataset.**

In [51]:
dataFrame = dataFrame.drop(columns= 'Cabin', axis=1)
dataFrame

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,C

### **Taking Care of missing Data**

#### Imputing **Age** And **Fare** with **Mean Values**

In [52]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(dataFrame[['Age','Fare']])
dataFrame[['Age','Fare']] = imputer.transform(dataFrame[['Age','Fare']])

In [53]:
dataFrame[['Age','Fare']]

          Age      Fare
0    34.50000    7.8292
1    47.00000    7.0000
2    62.00000    9.6875
3    27.00000    8.6625
4    22.00000   12.2875
..        ...       ...
413  30.27259    8.0500
414  39.00000  108.9000
415  38.50000    7.2500
416  30.27259    8.0500
417  30.27259   22.3583

[418 rows x 2 columns]

#### **After** imputing Total **null values (missing Values)**

In [54]:
na = dataFrame.isna( ).sum()
na

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [55]:
dataFrame

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.50000,0,0,330911,7.8292,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,363272,7.0000,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,240276,9.6875,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.00000,0,0,315154,8.6625,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,3101298,12.2875,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,30.27259,0,0,A.5. 3236,8.0500,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,PC 17758,108.9000,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,S
416,1308,0,3,"Ware, Mr. Frederick",male,30.27259,0,0,359309,8.0500,S
417,1309,0,3,"Peter, Master. Michael J",male,30.27259,1,1,2668,22.3583,C

#### **Converting Age column float to integer**

In [56]:
dataFrame['Age'] = dataFrame['Age'].astype(int)
dataFrame['Age']

0      34
1      47
2      62
3      27
4      22
       ..
413    30
414    39
415    38
416    30
417    30
Name: Age, Length: 418, dtype: int64

### **How many passengers survived and how many were killed (in number and %)**

In [57]:
Total_survived= dataFrame[['Survived', 'PassengerId']]   
ds= Total_survived.groupby(['Survived'])

##### Survived & Killed In **Numbers**

In [58]:
total_survived_in_Number = ds.count()
total_survived_in_Number

          PassengerId
Survived
0                 266
1                 152

#### Killed In **Percent**

In [59]:
total_killed_in_Percent = (total_survived_in_Number['PassengerId'][0]/total_survived_in_Number['PassengerId'].sum())*100
print('Total',total_killed_in_Percent.round(), '% were killed in Titanic.')

Total 64.0 % were killed in Titanic.

#### Survived In **Percent**

In [60]:
total_survived_in_Percent = (total_survived_in_Number['PassengerId'][1]/total_survived_in_Number['PassengerId'].sum())*100
print('Total',total_survived_in_Percent.round(), '% were Survived in Titanic.')

Total 36.0 % were Survived in Titanic.

### **Does survival had anything to do with the gender? (Survival vs Gender)**

In [61]:
Total_survived_gender= dataFrame[['Survived', 'Sex']]   
Total_survived_gender= Total_survived_gender.groupby(['Sex'],as_index = False)

In [62]:
Total_survived_gender = Total_survived_gender.count()
Total_survived_gender.head()

      Sex  Survived
0  female       152
1    male       266

#### **Survived Male**

In [63]:
print('Total' ,Total_survived_gender['Survived'][1],'Male was survived.')

Total 266 Male was survived.

#### **Survived Female**

In [64]:
print('Total' ,Total_survived_gender['Survived'][0],'Female was survived.')

Total 152 Female was survived.

### **Does survival have anything to do with the class in which the passenger was traveling and who survived more 1st class passengers, 2nd class passengers or 3rd class passengers?**

In [65]:
Total_survived_class= dataFrame[['Survived', 'Pclass']]   
Total_survived_class= Total_survived_class.groupby(['Pclass'],as_index = False)

In [66]:
Total_survived_class = Total_survived_class.count()
Total_survived_class

   Pclass  Survived
0       1       107
1       2        93
2       3       218

### **Which age group, survived the most, kids (0-12), teen agers (13-19), youngsters (20-30), middle age people (31-50) or elders (50 and) greater) ?**

In [67]:
Total_survived_age= dataFrame[['Survived', 'Age']]   
Total_survived_age= Total_survived_age.groupby(['Age'],as_index = False)

In [68]:
Total_survived_age = Total_survived_age.count()
Total_survived_age

    Age  Survived
0     0         5
1     1         3
2     2         2
3     3         1
4     5         1
..  ...       ...
59   62         1
60   63         2
61   64         3
62   67         1
63   76         1

[64 rows x 2 columns]

#### Total Survived **Kids**

In [69]:
Total_survived_kidz = Total_survived_age[Total_survived_age["Age"].between(0, 12)]
Total_survived_kidz = Total_survived_kidz['Age'].count()
print('Total ',Total_survived_kidz, 'Kids with age group Of ( 0 to 12 ) was survived.')

Total  12 Kids with age group Of ( 0 to 12 ) was survived.

#### Total Survived **Teen Agers**

In [70]:
Total_survived_teen = Total_survived_age[Total_survived_age["Age"].between(13, 19)]
Total_survived_teen = Total_survived_teen['Age'].count()
print('Total ',Total_survived_teen, 'teen agers with age group Of ( 13 to 19 ) was survived.')

Total  7 teen agers with age group Of ( 13 to 19 ) was survived.

#### Total Survived **Youngsters**

In [71]:
Total_survived_youngs = Total_survived_age[Total_survived_age["Age"].between(20, 30)]
Total_survived_youngs = Total_survived_youngs['Age'].count()
print('Total ',Total_survived_youngs, 'youngsters with age group Of ( 20 to 30 ) was survived.')

Total  11 youngsters with age group Of ( 20 to 30 ) was survived.

#### Total Survived **Middle Age**

In [72]:
Total_survived_middle = Total_survived_age[Total_survived_age["Age"].between(31, 50)]
Total_survived_middle = Total_survived_middle['Age'].count()
print('Total ',Total_survived_middle, 'middle age with age group Of ( 31 to 50 ) was survived.')

Total  20 middle age with age group Of ( 31 to 50 ) was survived.

#### Total Survived **Elders**

In [73]:
Total_survived_elder = Total_survived_age[Total_survived_age["Age"] > 50]
Total_survived_elder = Total_survived_elder['Age'].count()
print('Total ',Total_survived_elder, 'elders with age group Of ( 50 or greater ) was survived.')

Total  14 elders with age group Of ( 50 or greater ) was survived.

### **Which people survived the most, either those who were traveling with the family or those who were traveling alone?**

In [74]:
Total_traveling= dataFrame[[ 'Survived','SibSp']]   
Total_traveling= Total_traveling.groupby(['SibSp'],as_index = False)
Total_traveling = Total_traveling.count()
Total_traveling

   SibSp  Survived
0      0       283
1      1       110
2      2        14
3      3         4
4      4         4
5      5         1
6      8         2

#### **Traveling Alone**

In [75]:
print('Total',Total_traveling['Survived'][0],'peoples was survived who were travelling alone.')

Total 283 peoples was survived who were travelling alone.

#### **Traveling With Family**

In [88]:
Total_family = Total_traveling.drop(labels=0, axis=0)
Total_family = Total_family.sum()
Total_family

SibSp        23
Survived    135
dtype: int64

In [77]:
print('Total',Total_family['Survived'],'peoples was survived who were travelling with family.')

Total 135 peoples was survived who were travelling with family.

### **Finally compare the survival rate vs gender, class, age group, and family**

### **Survival Rate VS Gender**

#### **Male Survival Rate**

In [78]:
survival_rate_male = Total_survived_gender['Survived'][0]/ Total_survived_gender['Survived'].sum()
print('Male Survival Rate : ',survival_rate_male)

Male Survival Rate :  0.36363636363636365

#### **Female Survival Rate**

In [79]:
survival_rate_female = Total_survived_gender['Survived'][1]/ Total_survived_gender['Survived'].sum()
print('Female Survival Rate : ',survival_rate_female)

Female Survival Rate :  0.6363636363636364

### **Survival Rate VS Class**

#### **First Class Survival Rate**

In [80]:
survival_rate_class_1 = Total_survived_class['Survived'][0]/ Total_survived_class['Survived'].sum()
print('First Class Survival Rate : ',survival_rate_class_1)

First Class Survival Rate :  0.25598086124401914

#### **Second Class Survival Rate**

In [81]:
survival_rate_class_2 = Total_survived_class['Survived'][1]/ Total_survived_class['Survived'].sum()
print('Second Class Survival Rate : ',survival_rate_class_2)

Second Class Survival Rate :  0.22248803827751196

#### **Third Class Survival Rate**

In [82]:
survival_rate_class_3 = Total_survived_class['Survived'][2]/ Total_survived_class['Survived'].sum()
print('Third Class Survival Rate : ',survival_rate_class_3)

Third Class Survival Rate :  0.5215311004784688

### **Survival Rate VS Age Group**

#### **Kids Survival Rate**

In [83]:
survival_rate_kidz = Total_survived_kidz/Total_survived_age['Age'].count()
print('Kids Survival Rate : ',survival_rate_kidz)

Kids Survival Rate :  0.1875

#### **Teen Agers Survival Rate**

In [84]:
survival_rate_teen = Total_survived_teen/Total_survived_age['Age'].count()
print('Teen Agers Survival Rate : ',survival_rate_teen)

Teen Agers Survival Rate :  0.109375

#### **Youngsters Survival Rate**

In [85]:
survival_rate_youngs = Total_survived_youngs/Total_survived_age['Age'].count()
print('Youngsters Survival Rate : ',survival_rate_youngs)

Youngsters Survival Rate :  0.171875

#### **MIddle Age Survival Rate**

In [86]:
survival_rate_middle = Total_survived_middle/Total_survived_age['Age'].count()
print('Middle Agers Survival Rate : ',survival_rate_middle)

Middle Agers Survival Rate :  0.3125

#### **Elders Survival Rate**

In [87]:
survival_rate_elders = Total_survived_elder/Total_survived_age['Age'].count()
print('Elders Survival Rate : ',survival_rate_elders)

Elders Survival Rate :  0.21875

### **Survival Rate VS Family**

#### **Family Survival Rate**

In [92]:
Survival_rate_family = Total_family['Survived']/Total_traveling['Survived'].sum()
print('Family Survival Rate : ',Survival_rate_family)

Family Survival Rate :  0.3229665071770335

#### **Alone Survival Rate**

In [93]:
Survival_rate_alone = Total_traveling['Survived'][0]/Total_traveling['Survived'].sum()
print('Without Family Survival Rate : ',Survival_rate_alone)

Without Family Survival Rate :  0.6770334928229665